<div class="aui-page-panel-nav">
    <nav class="aui-navgroup aui-navgroup-vertical">
        <div class="aui-navgroup-inner">
            <ul class="aui-nav">
                <li class="aui-nav-selected"><a href="#">All Jobs</a></li>
            </ul>
            <div class="aui-nav-heading"><strong>Filters</strong></div>
            <ul class="aui-nav">
                <li><a href="#">Active Jobs</a></li>
                <li><a href="#">Pending Jobs</a></li>
            </ul>
        </div>
    </nav>
</div>