<ul class="aui-nav">
    <li><a href="/">Dashboard</a></li>
    <li class="aui-nav-selected"><a href="/">Jobs</a></li>
    <li><a href="/">Users</a></li>
    <li><a href="/">Contents</a></li>
    <li><a href="/">Reports</a></li>
    <li><a href="/">Logs</a></li>
</ul>